<form class="form-horizontal">
    <div class="row-fluid">
        <div class="span8"><h5>{{ _('Filename') }}</h5></div>
        <div class="span2"><h5>{{ _('Copies') }}</h5></div>
        <div class="span2"><h5>{{ _('Operations') }}</h5></div>
    </div>
    <div data-bind="sortable: queuedPrints">
        <div class="row-fluid" style="margin-bottom: 5px; cursor: move">
            <div class="span8">
                <input title="i.e. &quot;part.gcode&quot; or &quot;subfolder/part.gcode&quot;" type="text" 
                    placeholder="Select a file from the main file navigator or enter a file path" class="span12 text-left" data-bind="value: fileName">
            </div>
            <div class="input span2">
                <input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: copies, event: { change: $parent.checkPrintQueueChanges }">
            </div>
            <div class="span2">
                <div class="btn-group action-buttons" style="margin-top: 5px;">
                    <div class="btn btn-mini moveJobUp" data-bind="click: $parent.moveJobUp, css: { disabled: $index() === 0 }" title="Move job up the queue">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="btn btn-mini moveJobDown" data-bind="click: $parent.moveJobDown, css: { disabled: $index() == $parent.queuedPrints().length - 1 }" title="Move job down the queue">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <div class="btn btn-mini btn-danger removeJob" data-bind="click: $parent.removeJob" title="Remove job from queue">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span10">
            <button class="btn btn-primary" data-bind="click: startQueue, css: { disabled: queuedPrints().length === 0 }">
                <i class="fa fa-print"></i> {{ _('Print queue') }}
            </button>
            <button class="btn btn-danger" data-bind="click: clearQueue, css: { disabled: queuedPrints().length === 0 }">{{ _('Clear') }}</button>
        </div>

        <div class="span2">
            <a title="Add job" class="btn btn-primary" data-bind="click: addSelectedFile"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</form>

